.submit {
    background-color: black;
    border-radius: 5px;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #282623;
}

::-webkit-scrollbar-thumb {
    background: #03e9f4;
    border-radius: 9px;
}